@model DCNE_Cake.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h2>Log in :: <small>Use a local account to login</small></h2>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.UserName, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", htmlAttributes: new { @class = "has-error"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", htmlAttributes: new { @class = "has-error"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-3">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>

                <div class="col-md-9 col-md-offset-3">
                    <button type="submit" class="btn btn-success">Log in</button>
                    <br />
                    <br />
                    <p>@Html.ActionLink("Register", "Register", routeValues: null, htmlAttributes: new { @class = "" }) if you don't have an account.</p>
                </div>


            </div>

            <div class="col-md-6">
                <div class="page-header">
                    <h2>External Login</h2>
                </div>
                
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Use another service to log in.</h4>
                    </div>
                    <div class="panel-body">
                        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })

                        <div class="col-md-6">
                            <a class="btn btn-block btn-social btn-twitter" href="http://www.twitter.com/login">
                                <span class="fa fa-twitter"></span>Sign in with twitter
                            </a>

                            <a class="btn btn-block btn-social btn-facebook" href="http://www.facebook.com/login">
                                <span class="fa fa-facebook"></span>Sign in with facebook
                            </a>

                            <a class="btn btn-block btn-social btn-google" href="http://www.google.com/login">
                                <span class="fa fa-facebook"></span>Sign in with Google
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>
    </p>
}



